body {
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

.navbar--body {
    height: 13vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 100;
    transition: background 0.3s ease;
}
.navbar--container {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar--container > div {
    cursor: pointer;
    padding: 10px;
}
.navbar--container > img {
    width: 9vh;
    height: 9vh;
    cursor: pointer;
}
.navbar--body.scrolled {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 1);
}

@media (max-width: 1300px) {
    .navbar--container > img {
    width: 9%;
    height: 9%;
    cursor: pointer;
}
}

@media (max-width: 1300px) {
    .navbar--container{
        width: 70%;
        font-size: 1.4rem;
    }
    .navbar--container > img {
    width: 9%;
    height: 9%;
    cursor: pointer;
}
}

@media (max-width: 989px) {
    .navbar--container{
        width: 90%;
        font-size: 1.2rem;
    }
    .navbar--container > img {
    width: 90px;
    height: 90px;
    }
}

@media (max-width: 700px) {
    .navbar--container{
        width: 100%;
        font-size: 1rem;
    }
    .navbar--container > img {
    width: 85px;
    height: 85px;
    }
}

@media (max-width: 500px) {
    .navbar--container{
        width: 100%;
        font-size: 0.9rem;
    }

}