.navbar--body {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 100;
    transition: background 0.3s ease;
}

.navbar--container {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar--container > div {
    cursor: pointer;
    padding: 10px;
}

.navbar--text {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.navbar--logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:49.5%;
}

.navbar--logo > img {
    width: 10vh;
    height: 10vh;
    cursor: pointer;
    margin:0;
}

.navbar--body.scrolled {
    position: fixed;
    top: 0;
    background: rgba(0, 0, 0, 1);
}

.navbar--menu { 
    transform: translateX(100%); /* Initially hide the menu to the right of the screen */
    transition: transform 0.3s ease; /* Transition for sliding effect */
}

.navbar--menu.show { 
    transform: translateX(0);
    background-color: white; 
    color: black; 
}

.navbar--image {
    display: none;
}

@media (max-width: 900px) {
.navbar--logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left:5%;
}
.navbar--text {
    width: 75%;
    display: flex;
    justify-content: space-around;
}
}

@media (max-width: 630px) {
    .navbar--text {
        display: none;
    }
    .navbar--menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 100%;
        top:0;
        height:100vh;
        font-size: 2rem;
        font-weight: bolder;
    }

    .navbar--image {
        display: block;
        padding: 0 30px;
    }
    .navbar--image > img {
        width: 40px;
        height:40px
    }
}
