.Main--body {
    position: relative;
    z-index: 2;
    width: 100%;
    max-height: 100vh;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

}

.Main--body video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Main--body .Main--arrow {
    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 6%;
    transform: translate(-50%, 50%);
    animation: up-down 1s infinite alternate;
    width: 50px;
    height: 50px;
}

@keyframes up-down {
    from {
        transform: translate(-50%, 0%);
    }
    to {
        transform: translate(-50%, 100%);
    }
}

@media (max-width: 1350px){
    .Main--body .Main--arrow {
        position: absolute;
        z-index: 3;
        left: 50%;
        bottom: 8%;
        transform: translate(-50%, 50%);
        animation: up-down 1s infinite alternate;
        width: 50px;
        height: 50px;
    }
}