
body {
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}
.aboutUs--body {
    position: relative;
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    z-index: 10;
}
.aboutUs--body::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
  }

.aboutUs--container {
    position: relative;
    width: 80%;
    height: 60vh;
    overflow: auto;
    z-index: 2;
    display: flex;
    overflow: hidden;
}
.aboutUs--body > img {
    position: absolute;
    right:0;
    bottom:0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.aboutUs--rightPart {
    color:white;
    width: 90%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.aboutUs--leftPart {
    display: flex;
    color:white;
    width: 40%;

    flex-direction: column;
}

.aboutUs--amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
}

.aboutUs--paragraph {
    font-size: 1.3rem;
    direction: rtl;
    text-align: center;
    display: flex;
    align-items: flex-end;
    width: 100%;
    min-height:25%;
}

.aboutUs--half__title {
    height:25%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 2rem;
}
.aboutUs--half__title > div {
    border-bottom:4px solid red;
    border-radius: 10px;
}
.aboutUs--buttonWrapper {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    
}
.custom-button {
    width: 150px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cc8400;
    font-weight: border;
    border-radius: 10px;
    margin-top:70px
}

.aboutUs--amount {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:20%;
}

.aboutUs--logo {
    width: 100%;
    min-height:60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUs--logo > img{
    width: 200px;
    height: 200px;
}

@media (max-width: 1300px) {
    .aboutUs--container {
        width: 90%;
    }
    .aboutUs--paragraph {
        font-size: 1.1rem;
    }
}

@media (max-width: 740px) {
    
    .aboutUs--body {
        height: 120vh;

    }
    .aboutUs--container {
        height: 120vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .aboutUs--leftPart {
        height:50%;
        justify-content: center;
        width: 100%;
    }
    .aboutUs--rightPart {
        height: 50%;
        width: 100%;
        direction: rtl;
    }
    .aboutUs--paragraph {
        align-items: flex-start;
    }

}

@media (max-width: 740px) {
    .aboutUs--paragraph {
        font-size: 1rem;
    }
    .aboutUs--container {
        width: 95%;
    }
    .aboutUs--paragraph {
        height:35%
    }
    .aboutUs--amount {
        height:30%;
        justify-content: center;
    }
}
@media (max-width: 580px) {
    .aboutUs--paragraph {
        align-items: center;
    }
}

@media (max-width: 400px) {
    .aboutUs--body, .aboutUs--container {
        height: 130vh;
    }
    .aboutUs--half__title {
        align-items: flex-start;
    }

}



@media (max-height: 580px) {
    .aboutUs--container , .aboutUs--body {
        height:160vh
    }


}

@media (max-height: 430px) {
    .aboutUs--container , .aboutUs--body {
        height:200vh
    }
}