body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  box-sizing: border-box;
}


.gallery--body {
  position: relative;
  width: 100%;
  min-height: 88vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
}
.EachImage--body > button {
  position: absolute;
  top:0;
  right:10%;
}

.gallery--body > img {
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.gallery--title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gallery--title > div {
  border-bottom:2px solid black
}

.gallery--container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(5, minmax(20vw, 1fr));
  grid-auto-rows: 25vh;
  width: 93%;
  height: auto;
}


.gallery--frame {
  width: 20vw;
  height: 25.3vh;
  overflow: hidden;
  position: relative;
}

.gallery--frame > img {
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
}


.gallery--frame:hover > :last-child {
  transform: scale(1.2);
}

.gallery--showPictures {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  cursor: pointer;
}

.gallery--showPictures > img {
  width: 30px;
  height: 30px;
}

.gallery--showPictures > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery--showPictures > img:first-child {
  animation: moveRight 1s ease-in-out infinite alternate;
}

.gallery--showPictures > img:last-child {
  animation: moveLeft 1s ease-in-out infinite alternate;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

