body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  position: relative;
}


.gallery--body {
  position: relative;
  height: 120vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.gallery--body > img {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.gallery--title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gallery--title > div {
  border-bottom:2px solid black
}

.gallery--container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas:
  "photo1 photoH1 photo2 photoH2 photo3"
  "photo4 photoH1 photo5 photoH2 photo6"
  "photoH3 photo7 photoH4 photo8 photoH5"
  "photoH3 photo9 photoH4 photo10 photoH5";
  grid-template-columns: repeat(5 , 1fr);
  grid-template-columns: repeat(4 , 1fr);
  width: 99%;
  border-radius: 50px;
  overflow: hidden;
}

.gallery--container > a {
  width:100%;
  height: 100%;
  overflow: hidden;
}

.gallery--container > a > img {
  margin:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 1s;
  
}
.gallery--container > a > img:hover {
  transform: scale(1.2);
}
.gallery--loading {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery--loading > img {
  width: 200px;
  height: 200px;
}

/* Assigning specific grid cells to images using grid-row and grid-column properties */

.gallery--container--width1 {
  grid-area: photo1;
}

.gallery--container--width2 {
  grid-area: photo2;
}

.gallery--container--width3 {
  grid-area: photo3;

}

.gallery--container--width4 {
  grid-area: photo4;

}

.gallery--container--width5 {
  grid-area: photo5;

}

.gallery--container--width6 {
  grid-area: photo6;

}

.gallery--container--width7 {
  grid-area: photo7;

}

.gallery--container--width8 {
  grid-area: photo8;

}

.gallery--container--width9 {
  grid-area: photo9;

}

.gallery--container--width10 {
  grid-area: photo10;

}

.gallery--container--height1 {
  grid-area: photoH1;

}

.gallery--container--height2 {
  grid-area: photoH2;

}

.gallery--container--height3 {
  grid-area: photoH3;

}

.gallery--container--height4 {
  grid-area: photoH4;

}

.gallery--container--height5 {
  grid-area: photoH5;

}
.gallery--container--height6 {
  grid-area: photoH6;

}

.gallery--frame {
  overflow: hidden;
  position: relative;
  border:1px solid blue
}


.gallery--page {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  cursor: pointer;
}

.gallery--page > img {
  width: 30px;
  height: 30px;
}

.gallery--page > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery--page > img:first-child {
  animation: moveRight 1s ease-in-out infinite alternate;
}

.gallery--page > img:last-child {
  animation: moveLeft 1s ease-in-out infinite alternate;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

.gallery--refresh {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery--refresh > div {
  font-size: 2rem;
  font-weight: bolder;
  margin:0 30px;
}
.gallery--refresh > img {
  width: 40px;
  height: 40px;
}



@media (max-width: 1200px) {
  
.gallery--body {
  max-height: 240vh;
}
  .gallery--container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-gap: 0.5em;
    grid-template-areas:
    "photoH1 photo1 photoH2"
    "photoH1 photo2 photoH2"
    "photo3 photoH3 photo4"
    "photo5 photoH3 photo6";
    grid-template-columns: repeat(3 , 1fr);
    width: 95%;
    border-radius: 50px;
    overflow: hidden;
  }

}
@media (max-width: 700px) {
  
    .gallery--container {

      grid-template-areas:
      "photoH1 photo1"
      "photoH1 photo2"
      "photo3 photoH2"
      "photo4 photoH2";
      grid-template-columns: repeat(2 , 1fr);
      width: 95%;

    }
  
  }
  