body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
  position: relative;
}


.gallery--body {
  position: relative;
  max-height: 140vh;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.gallery--body > img {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.gallery--title {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.gallery--title > div {
  border-bottom:2px solid black
}

.gallery--container {
  position: relative;
  z-index: 1;
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas:
  "photo1 photoH1 photo2 photoH2 photo3"
  "photo4 photoH1 photo5 photoH2 photo6"
  "photoH3 photo7 photoH4 photo8 photoH5"
  "photoH3 photo9 photoH4 photo10 photoH5";
  grid-template-columns: repeat(5 , 1fr);
  width: 99%;
  border-radius: 50px;
  overflow: hidden;
}

.gallery--container > div {
  width:100%;
  height: 100%;
}

.gallery--container > div > img {
  margin:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* Assigning specific grid cells to images using grid-row and grid-column properties */

.gallery--container--width1 {
  grid-area: photo1;
}

.gallery--container--width2 {
  grid-area: photo2;
}

.gallery--container--width3 {
  grid-area: photo3;

}

.gallery--container--width4 {
  grid-area: photo4;

}

.gallery--container--width5 {
  grid-area: photo5;

}

.gallery--container--width6 {
  grid-area: photo6;

}

.gallery--container--width7 {
  grid-area: photo7;

}

.gallery--container--width8 {
  grid-area: photo8;

}

.gallery--container--width9 {
  grid-area: photo9;

}

.gallery--container--width10 {
  grid-area: photo10;

}

.gallery--container--height1 {
  grid-area: photoH1;

}

.gallery--container--height2 {
  grid-area: photoH2;

}

.gallery--container--height3 {
  grid-area: photoH3;

}

.gallery--container--height4 {
  grid-area: photoH4;

}

.gallery--container--height5 {
  grid-area: photoH5;

}


.gallery--frame {
  overflow: hidden;
  position: relative;
  border:1px solid blue
}


.gallery--showPictures {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 12vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:40px;
  cursor: pointer;
}

.gallery--showPictures > img {
  width: 30px;
  height: 30px;
}

.gallery--showPictures > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.gallery--showPictures > img:first-child {
  animation: moveRight 1s ease-in-out infinite alternate;
}

.gallery--showPictures > img:last-child {
  animation: moveLeft 1s ease-in-out infinite alternate;
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(10px);
  }
}

@keyframes moveLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-10px);
  }
}

.gallery--refresh {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallery--refresh > img {
  width: 50px;
  height: 50px;
}

@media (max-width: 1200px) {
  .gallery--container {
    position: relative;
    z-index: 1;
    display: grid;
    grid-gap: 0.5em;
    grid-template-areas:
    "photo1 photoH1"
    "photo2 photoH1"
    "photoH2 photo3"
    "photoH2 photo4"
    "photo5 photoH3"
    "photo6 photoH3"
    "photoH4 photo7"
    "photoH4 photo8";
    grid-template-columns: repeat(2 , 1fr);
    width: 99%;
    border-radius: 50px;
    overflow: hidden;
  }

}