body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

.EachImage--body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.EachImage--body > img {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.EachImage--container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.EachImage--arrow {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  z-index: 2;
}

.EachImage--arrow > img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}
.EachImage--arrow1 {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.EachImage--arrow1 > img {
  width: 45px;
  height: 45px;
  cursor: pointer;
}

.EachImage--computersize {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  height: 100%;
}

.EachImage--computersize > img {

}


.EachImage--amountImages {
  position: absolute;
  top:5.5%;
  right:10%;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: rgb(175, 169, 169);
}
.EachImage--exitIcon {
  position: absolute;
  top:7%;
  left:4.2%;
  z-index: 3;
}
  
.EachImage--exitIcon > img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.download:active {
  transform: scale(0.9);
}




@media (max-width:1440px) {
  .EachImage--arrow {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .EachImage--arrow1 {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .EachImage--amountImages {
    top:2.5%;
    right:5%;
  }
  .EachImage--exitIcon {
    left:2%;
    top:2%;
  }
}

@media (max-width:910px) {
  .EachImage--computersize {
    width: 100%;
  }
  .EachImage--arrow {
    position: absolute;
    justify-content: flex-start;
  }
  .EachImage--arrow1 {
    position: absolute;
    right:0;
    justify-content: flex-end;
  }
  .EachImage--amountImages {
    top:2%;
    right:4%;
  }
  .EachImage--exitIcon {
    left:2%;
    top:2%;
  }
}

@media (max-width:540px) {
  .EachImage--amountImages {
    top:5.5%;
    right:10%;
  }
  .EachImage--isWide {
    top:22%
  }
}

@media (max-width:450px) {

}