body {
  margin: 0;
  padding: 0;
  font-size: var(--font-size);
}

.EachImage--body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}


.EachImage--body > img {
  position: absolute;
  z-index: 0;
  right: 0;
  bottom:0;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EachImage--container {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow:hidden;

}
.EachImage--arrow {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 10;
}

.EachImage--arrow > img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin:0;
}
.EachImage--arrow1 {
  width: 45%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  z-index: 10;
  
}
.EachImage--arrow1 > img {
  width: 45px;
  height: 45px;
  cursor: pointer;
  margin:0;
}

.EachImage--computersize {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.EachImage--computersize > :nth-child(1){
  margin:0;
}

.EachImage--amountImages {
  position: absolute;
  top:5.5%;
  right:10%;
  font-size: 2rem;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  color: rgb(175, 169, 169);
}
.EachImage--exitIcon {
  position: absolute;
  top:7%;
  left:4.2%;
  z-index: 111;
}
  
.EachImage--exitIcon > img {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.download:active {
  transform: scale(0.9);
}

.EachImage--buttons--height {
  position: absolute;
  width: 645px;
  height: 838px;
}

.EachImage--buttons--height > :nth-child(1) {
  position: absolute;
  top:-1px;
  right:0;
  width: 48px;
  height: 48px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}


.EachImage--buttons--width {
  position: absolute;
  width: 850px;
  height: 567px;
  z-index: 1;
}
.EachImage--buttons--width > :nth-child(1) {
  position: absolute;
  top:0;
  right:0;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}
.EachImage--buttons--width > :nth-child(2) {
  position: absolute;
  bottom:0;
  left:-5px;
  width: 50px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 5px 5px;
  z-index: 100;
}



@media (max-width:1440px) {

  .EachImage--amountImages {
    top:2.5%;
    right:5%;
  }
  .EachImage--exitIcon {
    left:2%;
    top:2%;
  }
}

@media (max-width:1050px) {
  .EachImage--computersize--rotate {
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: rotate(90deg) scale(1.3);
  }
  
  .EachImage--computersize--rotate > :nth-child(1){
    margin:0;
  }
  .EachImage--buttons--height {
    width: 430px;
    height: 560px;
  }
  .EachImage--buttons--height > :nth-child(1) {
    width: 40px;
    height: 40px;
  }
  .EachImage--amountImages {
    top:2%;
    right:4%;
  }
  .EachImage--exitIcon {
    left:2%;
    top:2%;
  }
  .EachImage--buttons--width {
  position: absolute;
  width: 566.67px;
  height: 378px;
}


}



@media (max-width:570px) {
  .EachImage--amountImages {
    top:5.5%;
    right:10%;
  }
  .EachImage--isWide {
    top:22%
  }
  .EachImage--body > img {
    opacity: 0.2;
  }
  .EachImage--buttons--height {
    width: 340px;
    height: 440px;
    position: absolute;
    z-index: 3;
  }
  .EachImage--buttons--width {
    width: 449.5px;
    height: 39.5vh;
  }

  .EachImage--buttons--width__rotate {
    width: 450px;
    height: 300px;

  }
  .EachImage--arrow {
    position: absolute;
    left:0;
    justify-content: flex-start;
    z-index: 10;
    width: 20%;
    height: 10vh;
  }
  .EachImage--arrow1 {
    position: absolute;
    right:0;
    justify-content: flex-end;
    width: 20%;
    height: 10vh;
    z-index: 10;
  }
  .EachImage--amountImages {
    top:2.5%;
    right:4%;
  }

   .EachImage--buttons--width > :nth-child(1) {
    width: 35px;
    height: 35px;
   }
   .EachImage--buttons--width > :nth-child(2) {
    width: 35px;
    height: 35px;
  }

  
}
@media (max-width:447px) {
  .EachImage--buttons--width {
    width: 100%;
  }
  .EachImage--buttons--width__rotate {
    width: 447px;
  }
}

@media (max-width:430px) {
  .EachImage--arrow {
    left:10%;
  }
  .EachImage--arrow1 {
    right:10%;
  }
}

@media (max-width:400px) {
  .EachImage--buttons--width__rotate {
    width: 447px;
    height: 298px;
  }
  .EachImage--arrow {
    left:6%;
  }
  .EachImage--arrow1 {
    right:6%;
  }
}
@media (max-width:340px) {
  .EachImage--arrow {
    left:0;
  }
  .EachImage--arrow1 {
    right:0;
  }
}
