body {
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

.upcoming--body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.upcoming--body > img {
    position: absolute;
    z-index: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.upcoming--container{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Rubik', sans-serif;

}

.upcoming--title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom:15px
}

.upcoming--subtitle {
    font-size: 1.2rem;
}

.upcoming--eventimages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.upcoming--eventimages > img {
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
}
.upcoming--eventimages > img{
    width: 500px;
    height: 500px
}
.upcoming--rightarrow , .upcoming--leftarrow {
    width: 5%;
}
.upcoming--rightarrow > img , .upcoming--leftarrow > img {
    width: 50px;
    cursor: pointer;
}
.upcoming--rightarrow {
    display: flex;
    justify-content: flex-end;
}