body {
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

.footer--body {
    position: relative;
    width: 100%;
    height: 35vh;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3), 0 4px 10px rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer--container {
    position: relative;
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(19, 22, 24);
    color: white;
}


.footer--contact,
.footer--follow-us {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 15%;
}


.footer--contact > div,
.footer--follow-us > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    
}

a {
    text-decoration: none;
    color:white;
    transition: font-size 250ms;
    font-family: Century Gothic, Tahoma, Geneva, Verdana, sans-serif
}

a:active {
    transform: scale(0.95);
    font-size: 0.9rem;
}

img {
    width: 20px;
    height: 20px;
    margin-left:5px
}

.footer--container2 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0e1112;
    width: 100%;
    height: 5vh;
    color: white;
}

.dima {
    position: absolute;
    left:0;
    margin-left:10px;
}

@media (max-width:1250px) {
    
    .footer--contact,
    .footer--follow-us {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 20%;
    }
}

@media (max-width:960px) {
    
    .footer--contact,
    .footer--follow-us {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 25%;
    }
    .footer--container2 {
        justify-content: end;
        align-items: center;
    }
    .footer--container2 :first-child {
        margin-right:10px
    }
}

@media (max-width:770px) {
    
    .footer--contact,
    .footer--follow-us {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 30%;
    }
}


@media (max-width:400px) {
    .footer--container {
        height: 50vh;
        flex-direction: column;
    }
    
    .footer--contact,
    .footer--follow-us {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 70%;
        width: 30%;
    }
}