body {
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

.contact--body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact--body > img {
    position: absolute;
    z-index: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
}
.contact--container{
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.contact--container > button {
    width: 55%;
    height: 4.6vh;
    background-color: orange;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-top:15px;
    cursor: pointer;
}
.contact--title {
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom:10px
}
.contact--subtitle {
    font-weight: bolder;
    color:rgba(128, 128, 128, 0.6);
    letter-spacing: 1px;
}
.contact-textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 50%;
}

input[type="text"] {
    margin-top:25px;
    width: 54%;
    height: 5vh;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

textarea {
    width:54%;
    margin-top:25px;
    font-size: 1.3rem;
    height: 15vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.contract-button2 {
    transition: font-size 250ms;
    width: 63.3%;
    height: 4.6vh;
    background-color: orange;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-top:15px;
    cursor: pointer;
    border:0;
}

.contract-button2:hover {
    border: 2px solid black;
    font-size: 1.3rem;
}

.contract-button2:active {
    transform: scale(0.95);
}
.contact-whatsapp {
    width: 55%;
    height: 4.5vh;
    margin-top:15px;
}
.contact-whatsapp button {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    font-size: 1.1rem;
    font-weight: bolder;
    transition: font-size 250ms;
    cursor: pointer;
    background-color: green;
    border: 0;
}

.contact-whatsapp button:hover {
    border: 2px solid black;
    font-size: 1.3rem;
}

.contact-whatsapp button:active {
    transform: scale(0.95);
}



@media (max-width: 1455px) {
    .contact--container {
        width: 60%;
    }
    .contact--title {
        font-size: 2.5rem;
    }
    .contact--subtitle {
        font-size: 0.9rem;
    }
    input[type="text"] {
        margin-top:25px;
        width: 60%;
        height: 5vh;
        font-size: 1.3rem;

    }
    
    textarea {
        width:60%;
        margin-top:25px;
        font-size: 1.3rem;
        height: 15vh;
    }
    .contact-whatsapp {
        width: 60%;
    }
    .contact--container > button {
        width: 60%;
    }
}

@media (max-width: 1155px) {
    .contact--container {
        width: 70%;
    }

    .contact--title {
        font-size: 2.3rem;
    }
    .contact--subtitle {
        font-size: 0.85rem;
    }

}

@media (max-width: 850px) {
    .contact--container {
        width: 85%;
    }
    .contact--title {
        font-size: 2rem;
    }
    .contact--subtitle {
        font-size: 0.8rem;
    }
}

@media (max-width: 700px) {
    .contact--container {
        width: 95%;
    }
    .contact--title {
        font-size: 1.9rem;
    }
    .contact--subtitle {
        font-size: 0.7rem;
    }
}