body {
    font-size: medium;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
}

.contact--body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact--body > img {
    position: absolute;
    z-index: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin:0;
}
.contact--container{
    position: relative;
    box-sizing: border-box;
    z-index: 2;
    width: 50%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact--title {
    font-weight: bolder;
    font-size: 3rem;
    margin-bottom:10px
}
.contact--subtitle {
    font-weight: bolder;
    color:rgba(128, 128, 128, 0.6);
    letter-spacing: 1px;
}
.contact-textarea {
    margin-top:25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.contact-textarea > div {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}
.contact--errors {
    position: absolute;
    left:52%;
    top:73%;
    color:red;
    width: 25%;
    font-size: 0.7rem;
}
input[type="text"] {
    margin-bottom:25px;
    width: 54%;
    height: 5vh;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:1px solid black;
    
}
input[type="text1"] {
    margin-bottom:25px;
    width: 54%;
    height: 5vh;
    font-size: 1.3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border:2px solid red;
}

.contract-button2 {
    transition: font-size 250ms;
    width: 55%;
    height: 4.6vh;
    background-color: orange;
    font-weight: bolder;
    font-size: 1.1rem;
    border-radius: 10px;
    margin-top:15px;
    cursor: pointer;
    border:0;
}

.contract-button2:hover {
    border: 1px solid black;
    font-size: 1.3rem;
}

.contract-button2:active {
    transform: scale(0.95);
}
.contact-whatsapp {
    width: 55%;
    height: 44px;
    margin-top:15px;
    border-radius: 10px;
    font-size: 1rem;
    font-weight: bolder;
    transition: font-size 250ms;
    cursor: pointer;
    background-color: green;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color:black
}


.contact-whatsapp:hover {
    border: 1px solid black;
    font-size: 1.1rem;
}

.contact-whatsapp:active {
    transform: scale(0.95);
}



@media (max-width: 1455px) {
    .contact--container {
        width: 60%;
    }
    .contact--title {
        font-size: 2.5rem;
    }
    .contact--subtitle {
        font-size: 0.9rem;
    }
    input[type="text"] {
        width: 60%;
        height: 5vh;
        font-size: 1.3rem;

    }
    
    .contact-whatsapp {
        width: 60%;
    }
    .contact--container > button {
        width: 60%;
    }
    input[type="text1"] {
        width:60%;
    }
    .contact--errors {
        width: 28%;
    }
}

@media (max-width: 1155px) {
    .contact--container {
        width: 70%;
    }

    .contact--title {
        font-size: 2.3rem;
    }
    .contact--subtitle {
        font-size: 0.85rem;
    }

    .contact--errors {
        width: 50%;
        left:30.1%;
    }
}

@media (max-width: 850px) {
    .contact--container {
        width: 85%;
    }
    .contact--title {
        font-size: 1.9rem;
    }
    .contact--subtitle {
        font-size: 0.8rem;
    }
    input[type="text1"], input[type="text"] {
        font-size: 1rem;
    }
    .contact--errors {
        width: 60%;
        left:20%
    }
}

@media (max-width: 700px) {
    .contact--container {
        width: 95%;
    }
    .contact--title {
        font-size: 1.9rem;
    }
    .contact--subtitle {
        font-size: 0.7rem;
    }
}
@media (max-width: 450px) {
    input[type="text1"], input[type="text"] {
        width: 90%;
    }
    .contact--errors {
        width: 90%;
        left:5%
    }
    .contact-whatsapp {
        width: 90%;
    }
}